<div class="row">
  <div class="col">
    <button class="btn btn-default" (click)="showNew = true">
      <fa-icon [icon]="faFileCirclePlus" size="3x" style="color: #63E6BE;"></fa-icon>
    </button>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <!-- new fermenter -->
  <div class="col" *ngIf="showNew">
    <div class="card h-100">
      <div class="card-body">
	<h5 class="card-title">Add fermenter type</h5>
	<div class="card-text">
	  <form [formGroup]="addFermenterTypeForm"
		(ngSubmit)="add(addFermenterTypeForm)">
	    <!-- name -->
	    <div class="form-group">
		<label for="name">Name</label>
		<small [hidden]="addFermenterTypeForm.controls['name'].valid"
		       class="text-danger">
		  Must be at least 3 characters
		</small>
		<input class="form-control" formControlName="name" id="name">
	    </div>
	    <!-- capacity -->
	    <div class="form-group">
	      <label for="capacity">Capacity [L]</label>
	      <small [hidden]="addFermenterTypeForm.controls['capacity'].valid"
		     class="text-danger">
		Must be between 10 and 150
	      </small>
	      <input class="form-control" formControlName="capacity"
		     id="capacity">
	    </div>
	    <!-- imageurl -->
	    <div class="form-group">
	      <label for="imageurl">Image URL</label>
	      <small [hidden]="addFermenterTypeForm.controls['imageurl'].valid"
		     class="text-danger">
		Must be a URL to an image
	      </small>
	      <input class="form-control" formControlName="imageurl"
		     placeholder="https://ho.st/image.jpg" id="imageurl">
	    </div>
	    <div class="form-group">
	      <button type="submit" class="btn btn-small btn-info"
		      (click)="showNew = false">Cancel</button>
	      <button type="submit" class="btn btn-small btn-primary float-end"
		      [disabled]="!addFermenterTypeForm.valid">Add</button>
	    </div>
	  </form>
	</div>
      </div>
    </div>
  </div>
  <!-- fermenters -->
  <div class="col"
       *ngFor="let ft of fermentertypes">
    <div class="card h-100" *ngIf="ft.edit == false">
      <img src="{{ft.data.imageurl}}">
      <div class="card-body">
	<h5 class="card-title">{{ft.data.name}}&nbsp;/&nbsp;{{ft.data.capacity}}&nbsp;L</h5>
	<p class="card-text">
	  <button type="submit" class="btn btn-danger"
		  *ngIf="ft.fermenters == 0"
		  (click)="del(ft.data.id!)">Delete</button>
	  <button type="submit" class="btn btn-warning float-end"
		  (click)="ft.edit = true">Edit</button>
	</p>
      </div>
    </div>
    <!-- edit fermenter -->
    <div class="card h-100" *ngIf="ft.edit == true">
      <div class="card-body">
	<h5 class="card-title">Edit fermenter</h5>
	<div class="card-text">
	  <form [formGroup]="ft.editForm"
		(ngSubmit)="save(ft.data.id!, ft.editForm)">
	    <!-- name -->
	    <div class="form-group">
		<label for="name">Name</label>
		<small [hidden]="ft.editForm.controls['name'].valid"
		       class="text-danger">
		  Must be at least 3 characters
		</small>
		<input class="form-control" formControlName="name" id="name">
	    </div>
	    <!-- capacity -->
	    <div class="form-group">
	      <label for="capacity">Capacity [L]</label>
	      <small [hidden]="ft.editForm.controls['capacity'].valid"
		     class="text-danger">
		Must be between 10 and 150
	      </small>
	      <input class="form-control" formControlName="capacity"
		     id="capacity">
	    </div>
	    <!-- imageurl -->
	    <div class="form-group">
	      <label for="imageurl">Image URL</label>
	      <small [hidden]="ft.editForm.controls['imageurl'].valid"
		     class="text-danger">
		Must be a URL to an image
	      </small>
	      <input class="form-control" formControlName="imageurl"
		     placeholder="https://ho.st/image.jpg" id="imageurl">
	    </div>
	    <div class="form-group">
	      <button type="submit" class="btn btn-small btn-info"
		      (click)="ft.edit = false">Cancel</button>
	      <button type="submit" class="btn btn-small btn-primary float-end"
		      [disabled]="!ft.editForm.valid">Save</button>
	    </div>
	  </form>
	</div>
      </div>
    </div>
  </div>
</div>
