<!-- the base container for the view -->
<div class="container-fluid">
  <div class="row">
    <!-- left side will be the controls and short stuff-->
    <div class="col-md-2 col-xs-12">

      <!-- controls -->
      <div class="row card">
	<div class="card-header bg-light">Controls</div>
	<div class="card-body">
	  <button *ngIf="state=='NeedMalt'" class="btn btn-warning btn-sm" (click)="onHasMalts()">I Can Has Malts</button>
	  <button *ngIf="state=='Sparging'" class="btn btn-warning btn-sm" (click)="onSpargeDone()">Sparge Done</button>
	  <button *ngIf="state=='Cooling' && coolingdone" class="btn btn-warning btn-sm" (click)="onCoolingDone()">Cooling Done</button>
	  <button *ngIf="state=='Transfer'" class="btn btn-warning btn-sm" (click)="onTransferDone()">Transfer Done</button>
	  <button *ngIf="state=='PreBoil' && bktemp != null && bktemp! > 100" class="btn btn-warning btn-sm" (click)="onStartBoil()">Start Boil</button>
	  <button *ngIf="state!='Empty'" class="btn btn-danger btn-sm" (click)="onAbortBrew()">It's a trap!</button>
	  <!-- Heat blocking during sparging -->
	  <div *ngIf="state=='Sparging'" class="container">
	    <mat-slide-toggle
	      [checked]="blockheat"
	      (change)="onBlockHeat($event)"
	      >
	      Block Heat
	    </mat-slide-toggle>
	  </div>
	  <!-- Forcing pump during hopping and cooling -->
	  <div *ngIf="state=='PreBoil' || state=='Hopping' || state=='Cooling'" class="container">
	    <mat-slide-toggle
	      [checked]="forcepump"
	      (change)="onForcePump($event)"
	      >
	      Force Pump
	    </mat-slide-toggle>
	  </div>
	  <!-- Cooling -->
	  <div *ngIf="state=='Cooling'" class="container">
	    <div class="card-header bg-light">Cooling target</div>
	    <div class="card-body input-group">
	      <input id="volume" class="form-control" type="number" value="{{cooltemp}}" [(ngModel)]="cooltemp">
	      <button class="btn btn-primary" type="submit" (click)="onCoolTempSet()">Set</button>
	</div>
	  </div>
	  <!-- Transfer -->
	  <div *ngIf="state=='Transfer'" class="container">
	    <mat-slide-toggle
	      [checked]="bkpump"
	      (change)="onBKPump($event)"
	      >
	      BK Pump
	    </mat-slide-toggle>
	  </div>
	</div>
      </div>


      <!-- volume adjustment -->
      <div class="row card">
	<div class="card-header bg-light">Volume</div>
	<div class="card-body input-group">
	  <button class="btn btn-default" type="reset" (click)="onVolumeReset()">
	    <fa-icon [icon]="faRefresh"></fa-icon>
	  </button>
	  <input id="volume" class="form-control" type="number" value="{{volume}}" [(ngModel)]="volume">
	  <button class="btn btn-primary" type="submit" (click)="onVolumeSet()">Set</button>
	</div>
      </div>


      <!-- data -->
      <div class="row card">
	<div class="card-header bg-light">Data</div>
	<div class="card-body">
	  <table class="table table-striped table-pad-2px">
	    <tr>
	      <th>State</th>
	      <td>{{state}}</td>
	    </tr>
	    <tr>
	      <th>T<sub>target</sub></th>
	      <td>{{targettemp}} C</td>
	    </tr>
	    <tr *ngIf="brewtime">
	      <th>Brew time</th>
	      <td>{{brewtime}}</td>
	    </tr>
	    <tr *ngIf="state == 'Cooling'">
	      <th>Cooling target</th>
	      <td>{{cooltemp}} C</td>
	    </tr>
	    <ng-template ngFor let-step [ngForOf]="sensors">
	      <tr>
		<th>{{step.sensor}}</th>
		<td>{{step.temp}} C</td>
	      </tr>
	    </ng-template>
	  </table>
	</div>
      </div>

      <!-- mash steps -->
      <div class="row card" *ngIf="state == 'Mashing' && program">
	<div class="card-header bg-light">Mash Steps</div>
	<div class="card-body">
	  <table class="table table-striped table-pad-2px">
	    <tr>
	      <th>&nbsp;</th>
	      <th>Time</th>
	      <th>Temp[C]</th>
	    </tr>
	    <ng-template ngFor let-step [ngForOf]="program.mashsteps">
	      <tr>
		<td>
		  <fa-icon [icon]="faCheck"
			   *ngIf="step.orderno < mashstep!.orderno || step.orderno == mashstep!.orderno && mashstep!.time > step.holdtime*60">
		  </fa-icon>
		  <fa-icon [icon]="faHourglass"
			   *ngIf="step.orderno == mashstep!.orderno && mashstep!.time < step.holdtime*60">
		  </fa-icon>
		  <fa-icon [icon]="faEllipsisH"
			   *ngIf="step.orderno > mashstep!.orderno">
		  </fa-icon>
		</td>
		<td>
		  <i *ngIf="step.orderno == mashstep!.orderno && mashstep!.time < step.holdtime*60">
		    {{mashstep!.textual}} /
		  </i>
		  {{step.holdtime}}m</td>
		<td>{{step.temperature}}</td>
	      </tr>
	    </ng-template>
	  </table>
	</div>
      </div>

      <!-- hopping -->
      <div class="row card" *ngIf="state == 'Hopping' && hopping != null && hopping!.schedule != null">
	<div class="card-header bg-light">Hopping</div>
	<div class="card-body">
	  <table class="table table-striped table-pad-2px">
	    <thead>
	      <tr>
		<th>Name</th>
		<th>Qty</th>
		<th>Time</th>
	      </tr>
	    </thead>
	    <tbody>
	      <ng-template ngFor let-hop [ngForOf]="hopping!.schedule!">
		<tr>
		  <td>{{hop.name}}</td>
		  <td>{{hop.qty}}</td>
		  <td *ngIf="hop.done"><i class="fa fa-check"></i></td>
		  <td *ngIf="!hop.done">{{hop.tth}}</td>
		</tr>
	      </ng-template>
	    </tbody>
	  </table>
	</div>
      </div>

    </div> <!-- end of left plance  -->
    <!-- right side the graph -->
    <div class="col-md-10 card hidden-xs">
      <div class="card-header bg-light">Graph</div>
      <div class="card-body">
	<div style="display: block;" class="">
	  <canvas baseChart
		  [type]="'line'"
		  [data]="brewChartData"
		  [options]="brewChartOptions"
		  [legend]="brewChartLegend"></canvas>
	</div>
      </div>
    </div>
  </div>
</div>
