<!-- the base container for the view -->
<div class="container-fluid">
  <div class="row">
    <!-- left side will be the controls and short stuff-->
    <div class="col-2">
      <!-- controls -->
      <div class="row card">
	<div class="card-header bg-light">Controls</div>
	<div class="card-body">
	  <button *ngIf="state=='NeedMalt'" class="btn btn-warning btn-sm" (click)="onHasMalts()">I Can Has Malts</button>
	</div>
      </div>
      <!-- data -->
      <div class="row card">
	<div class="card-header bg-light">Data</div>
	<div class="card-body">
	  <table class="table table-striped">
	    <tr>
	      <th>State</th>
	      <td>{{state}}</td>
	    </tr>
	    <tr>
	      <th>Temp target</th>
	      <td>{{targettemp}} C</td>
	    </tr>
	    <tr *ngIf="state == 'Mashing'">
	      <th>Mash step</th>
	      <td>{{mashstep.orderno}}</td>
	    </tr>
	    <ng-template ngFor let-step [ngForOf]="sensors">
	      <tr>
		<th>{{step.sensor}}</th>
		<td>{{step.temp}} C</td>
	      </tr>
	    </ng-template>
	  </table>
	</div>
      </div>
    </div>
    <!-- right side the graph -->
    <div class="col-10 card">
      <div class="card-header bg-light">Graph</div>
      <div class="card-body">
	<div style="display: block;" class="">
	  <canvas baseChart
		  [datasets]="brewChartData"
		  [labels]="brewChartLabels"
		  [options]="brewChartOptions"
		  [legend]="brewChartLegend"
		  [chartType]="brewChartType"></canvas>
	  <!--
		  [colors]="brewChartColors"
	    -->
	</div>
      </div>
    </div>
  </div>
</div>
