<nav class="navbar navbar-expand-sm navbar-dark navbar-inverse bg-dark navbar-fixed-top">
  <span class="navbar-brand">AEGIR</span>
  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
	<a class="nav-link" routerLink="/brew" routerLinkActive="active">Brew</a></li>
      <li class="nav-item" routerLinkActive="active">
	<a class="nav-link" routerLink="/programs" routerLinkActive="active">Programs</a></li>
      <li class="nav-item" routerLinkActive="active">
	<a class="nav-link" routerLink="/programs/add" routerLinkActive="active">Add</a></li>
      <!-- conditional maintenance -->
      <li *ngIf="canmaint" class="nav-item" routerLinkActive="active">
	<a class="nav-link" routerLink="/maintenance" routerLinkActive="active">Maintenance</a></li>
    </ul>
    <!-- settings on the right -->
  </div>
  <div class="d-flex">
    <a class="nav-link" routerLink="/settings" routerLinkActive="active">
      <fa-icon [icon]="faGear" class="navbar-icon"></fa-icon>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
