/* You can add global styles to this file, and also import other style files */
/*
//body { padding-top: 70px; }
*/
.vfill {
    min-height: 100%;
    height: 100%;
}

.vscroll {
    overflow-y: scroll;
}

.height-80 {
    height: 80vh;
}
