<div class="countainer-fluid">
  <div class="row">
    <div class="col-1">
      &nbsp;
    </div>
    <div class="col-3">
      <!-- Program lists-->
      <span>Available programs:</span>
      <ul>
	<li *ngFor="let program of programs"
	    class="nav-item" (click)="loadProgram(program)" style="cursor: pointer;">
	  {{program.name}}
	  </li>
      </ul>
    </div>
    <div class="col-7 justify-content-md-center">
      <router-outlet></router-outlet>
    </div>
    <div class="col">
      &nbsp;
    </div>
  </div>
</div>
